*
!/.dir_colors
!/.gitattributes_global
!/.gitconfig
!/.gitignore
!/.gitignore_global
!/.gitmodules
!/.nanorc
!/.config/alacritty
!/.config/bat/config
!/.config/fish/config.fish
!/.config/fish/completions
!/.config/fish/conf.d
!/.config/fish/functions
!/.config/starship.toml
